// / {
//     outputs {
//         compatible = "gpio-leds";
//         gpio_ck_pwm: gpio-5-6 {
//             gpios = <&gpio5 6 GPIO_ACTIVE_HIGH>;
//         };
//     };


//     aliases {
//         clickboard-enable = &gpio_ck_pwm;
//     };
// };

// &gpio1 {
//     pinctrl-names = "default";
//     pinctrl-0 = <&pinctrl_gpio1>;
// };

// &gpio5 {
//     pinctrl-names = "default";
//     pinctrl-0 = <&pinctrl_gpio5>;
// };

// &gpio8 {
//     pinctrl-names = "default";
//     pinctrl-0 = <&pinctrl_gpio8>;
// };

// &pinctrl {
// 	pinctrl_uart0: pinctrl_uart0 {
// 		group0 {
// 			pinmux = < PIN_P1_4__UART0_RX_B >,
// 				 < PIN_P1_5__UART0_TX_B >;
// 		};
// 	};
// };

&uart7 {
	status = "okay";
	current-speed = <115200>;
	// pinctrl-0 = < &pinctrl_uart0 >;
	// pinctrl-names = "default";

	esp_at: esp-at {
		compatible = "espressif,esp-at";
		status = "okay";
		// reset-gpios = <&gpio5 6 GPIO_ACTIVE_LOW>;

		// reset-gpios = <&gpio8 3 GPIO_ACTIVE_LOW>;
		// power-gpios = <&gpio5 6 GPIO_ACTIVE_HIGH>;
	};
};
