ns: &ns {
	status = "okay";
};

&sdhc {
	status = "okay";
	compatible = "alif,sdio";

	mmc {
		status = "disabled";
	};

	airoc-wifi {
		status = "okay";
		compatible = "infineon,airoc-wifi";

		/* Wi-Fi control gpios */
		wifi-reg-on-gpios    = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		wifi-host-wake-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
	};
};
